{% from "helpers/form_helper.html" import displayField %}
{% extends "base.html" %}
{% block content %}

<article class="media content-section">
    <img src="{{ post.author.image_file }}" alt="" class="rounded-circle article-img">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2"
                href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime("%d-%m-%Y") }}</small>
            {% if post.author.id == current_user.id %}
            <div>
                <a href="{{ url_for('posts.update_post', post_id=post.id) }}"
                    class="btn btn-secondary btn-sm m-1">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal"
                    data-bs-target="#deleteModal">Delete</button>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST"><input
                        class="btn btn-danger" type="submit" value="Delete"></form>
            </div>
        </div>
    </div>
</div>

{% if is_liked == true %}
<div class="text-center mb-3">
    <a href="" class="btn btn-dark btn-small text-white disabled"><i class="fas fa-heart"></i> {{ likes }} Likes </a>
</div>
{% for user in post.user_likes %}
Liked by : {{user.username}}
{% endfor %}
{% else %}
<div class="text-center mb-3">
    <a href="{{ url_for('posts.liked_post',post_id=post.id)}}" class="btn btn-outline-secondary btn-small"><i
            class="fas fa-heart"></i> {{ likes}} Likes</a>
</div>
{% endif %}

{% if comments %}
{% for comment in comments %}
<article class="media content-section">
        <div>
        <h2 class="article-title">{{ comment.comment }}</h2>
        <p class="article-content">{{ comment.comment_author.username }}</p>
        <p class="article-content">{{ comment.id }}</p>

    </div>
</article>
{% if current_user.id == comment.comment_author.id %}
   <a href="{{ url_for('posts.update_comment', post_id=post.id, comment_id=comment.id)}}">Update comment</a>
   <a href="#">Delete comment</a>
{% endif %}
{% endfor %}
{% endif %}
{% if current_user.is_authenticated %}
   <form method="POST" action="">
<fieldset>
     {{ displayField(form.comment) }}
   <!-- <div class="form-group">
                    {{ form.comment.label(class="form-control-label") }}
                    {% if form.comment.errors %}
                        {{ form.comment(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.comment.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.comment(class="form-control form-control-lg") }}
                    {% endif %}
                </div> -->
            </fieldset>
            {% include "helpers/_submit.html" %}
            <!-- <div class="form-group mt-2">
                {{ form.submit(class="btn btn-outline-info") }}
    
        </form>
{% else%}
<p>Must sign in to add comment</p>
{% endif %}



{% endblock content %}